.user-cart {
  display: flex;
  justify-content: flex-end;
  width: 95rem;
  height: 1rem;
  max-width: 100%;
  color: white;
}

.login-icon {
  transition: color 0.3s;
  font-size: 1.1rem;
  margin-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.login-icon:hover {
  color: red;
}
